#bus-adherence {
  margin-left: 12px;
}

#bus-direction {
  /*float: left;*/
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 6px;
}

#next-stop {
  float: left;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 6px;
}

#bus-route {
  /*float: left;*/
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 6px;
}

#bus-num {
  float: left;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 6px;
}

#bus-info {
  padding-top: 6px;
  color: white;
  margin-left: 300px;
  font-family: sans-serif; 
  width: 78%;
  height: 100%;
  background-color: blue;
  background: -prefix-linear-gradient(left, #4D4D4D, #4F4F4F); 
  background: linear-gradient(to right, #4D4D4D, #4F4F4F);
}

#bus-info-border {
  border-right:1px solid black;
  height:100%
}

#bus-search-form {
  position: absolute;
  width: 300px;
  height: 85px;
  background: -prefix-linear-gradient(left, #4D4D4D, #4F4F4F); 
  background: linear-gradient(to right, #4D4D4D, #4F4F4F);
}

#bus-search {
  position: absolute;
  margin: 10px;
  margin-top: 22px;
}

.search-field {
  border: 0px;
  height: 32px;
}

.orange-flat-button {
  position: relative;
  vertical-align: top;
  width: 55px;
  height: 35px;
  padding: 0;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f39c12;
  border: 0;
  border-bottom: 2px solid #e8930c;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #e8930c;
  box-shadow: inset 0 -2px #e8930c;
}
.orange-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#info-bar {
    height: 86px;
    width: 100%;
}
 
#click-bar {
    font-family: sans-serif; 
    font-weight: bold;
    letter-spacing: -0.05em;
    border: ridge;
    background: linear-gradient(to bottom, #757575, #4D4D4D);
    border-color: black;
    border-width: 1.5px;
    color: white;
    height: 17px;
    width: 100%;
    text-align: center;
}

hr {
    margin: -0.12em;
    height: 1px;
    color: #7A7A79;
    background-color: #7A7A79;
    border-color: #7A7A79;
}

#map-canvas { 
    height: 100%;
    width: 100%;
}

#un_peu_tard{
    color: #E4C126;
}

#trop_tard{
    color: #D80821;
}

#parfait{
    color: #07B418;
}

#tres_tot{
    color: #3ca9d0;
}

html { 
    height: 100%; 
}

body { 
    height: 100%; 
    margin: 0; 
    padding: 0;
}

#about { 
    z-index: 9000; 
    position: absolute; 
    right: 25px; 
    top: 140px; 
    background: #eee; 
    font-family: sans-serif; 
    width: 300px; 
    padding: 1em; 
    opacity: 0.85;
}
