html, body { overflow: hidden; }

.ui-autocomplete {
  max-height: 200px;
  overflow-y: hidden;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  padding-right: 20px;
}

#bus-adherence {
  float: left;
  margin-left: 12px;
  margin-right: 12px;
}

#bus-direction {
  /*float: left;*/
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 6px;
}

#next-stop {
  float: left;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 6px;
}

#bus-link {
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 6px;
}

#bus-route {
  /*float: left;*/
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 6px;
}

#bus-num {
  float: left;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 6px;
}

#bus-info {
  padding-top:6px;
  color: white;
  padding-left: 300px;
  font-family: sans-serif; 
  width: 70%;
  height: 100%;
  background: -prefix-linear-gradient(left, #4D4D4D, #4F4F4F); 
  background: linear-gradient(to right, #4D4D4D, #4F4F4F);
}

#bus-search-form {
  float:left;
  width: 300px;
  height: 85px;
  border-right:1px solid black;
  background: -prefix-linear-gradient(left, #4D4D4D, #4F4F4F); 
  background: linear-gradient(to right, #4D4D4D, #4F4F4F);
}

#bus-search {
  padding: 10px;
  padding-top: 22px;
}

.search-field {
  border: 0px;
  height: 32px;
}

.form-search-field {
  border: 0px;
  height: 32px;
  background: #dadae3;
  padding: 8px;
  color: black;
}

#project-textfield {
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  background: #dadae3;
  color: black;
}

#email-field {
  width: 285px;
}

#company-name-field {
  width: 285px;
}

#first-name-field {
  width: 130px;
  margin-right: 10px;
}

#last-name-field {
  width: 130px;
}

.form-fields {
  padding-left: 15px;
  padding-bottom: 15px;
}

.textarea-fields {
  padding-left: 15px;
}

.orange-flat-button {
  position: relative;
  vertical-align: top;
  width: 55px;
  height: 35px;
  padding: 0;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f39c12;
  border: 0;
  border-bottom: 2px solid #e8930c;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #e8930c;
  box-shadow: inset 0 -2px #e8930c;
}
.orange-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#info-bar {
  clear: both;
  height: 86px;
  width: 100%;
  background: -prefix-linear-gradient(left, #4D4D4D, #4F4F4F); 
  background: linear-gradient(to right, #4D4D4D, #4F4F4F);
}
 
#click-bar {
  font-family: sans-serif; 
  font-weight: bold;
  letter-spacing: -0.05em;
  border: ridge;
  background: linear-gradient(to bottom, #757575, #4D4D4D);
  border-color: black;
  border-width: 1.5px;
  color: white;
  height: 27px;
  width: 100%;
  text-align: center;
  padding-top:7px;
}

#map-canvas { 
  height: 100%;
  width: 100%;
}

#un_peu_tard{
  color: #E4C126;
}

#trop_tard{
  color: #D80821;
}

#parfait{
  color: #07B418;
}

#tres_tot{
  color: #3ca9d0;
}

html { 
  height: 100%; 
  width: 100%; 
}

body { 
  height: 100%; 
  margin: 0; 
  padding: 0;
}

#about { 
  z-index: 9000;
  position: absolute; 
  right: 25px; 
  top: 140px; 
  background: #eee; 
  font-family: sans-serif; 
  width: 302px; 
  padding: 1em; 
  opacity: 0.85;
  filter: alpha(opacity=85);
}

#stop_head_text {
  font-size: 19px;
  text-align: center;
}

#stop_head {
  height: 50px;
  background: black;
  padding-top: 10px;
  z-index: 9000; 
  position: absolute; 
  right: 25px; 
  top: 170px; 
  font-family: sans-serif; 
  width: 302px; 
  padding: 1em; 
  opacity: 0.85;
  filter: alpha(opacity=85);
}

#stop_list { 
  border: solid;
  border-width: 1px;
  height: 350px;
  overflow-Y:auto;
  z-index: 9000;
  position: absolute; 
  right: 25px; 
  top: 252.4px; 
  background: #eee; 
  font-family: sans-serif; 
  width: 300px; 
  padding: 1em; 
  opacity: 0.85;
  filter: alpha(opacity=85);
}

#bus-suggestion-text {
  font-style: oblique;
  text-align: center;
  margin-top: 25px;
  font-size: 24px;
}

#hire-me-button { 
  z-index: 9000;
  position: absolute; 
  left: 5px; 
  top: 40px; 
  background: #eee; 
  font-family: 'Sonsie One', cursive;
  width: 170px; 
  padding: 1em; 
  opacity: 0.65;
  filter: alpha(opacity=65);
  height: 40px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #1abc9c;
  border: 0;
  border-bottom: 2px solid #12ab8d;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #12ab8d;
  box-shadow: inset 0 -2px #12ab8d;
}

#overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#modal {
  z-index: 9000;
  top: 70px;
  position:absolute;
  background:url(images/tint20.png) 0 0 repeat;
  background:rgba(0,0,0,0.2);
  border-radius:14px;
  padding:8px;
}

#content {
  width: 350px;
  height: 490px;
  border-radius:8px;
  background:#808080;
  padding:20px;
}

#close {
  position:absolute;
  background:url(images/close.png) 0 0 no-repeat;
  width:24px;
  height:27px;
  display:block;
  text-indent:-9999px;
  top:-7px;
  right:-7px;
}

#loading-screen {
  text-align: center;
  padding-top: 110px;
  font-size: 44px;
}

#submit-container {
  font-family: 'Sonsie One', cursive;
  color: white;
  background: orange;
  text-align: center;
  height: 36px;
  padding-top: 18px;
}

#submit-button {
  font-family: 'Sonsie One', cursive;
  font-size: 18px;
  width: 250px;
  height: 50px;
}

#hire-form-text {
  padding:12px;
  text-align: center;
  font-family: 'Sonsie One', cursive;
  background: orange;
  color: white;
}

#form-container {
  padding-top: 10px;
  padding-left: 10px;
  /*padding-right: 10px;*/
  background: #a7a4a4;
}

#description-form-text {
  color: white;
  text-align: center;
  margin-bottom:12px;
  font-size: 10px;
  font-family: sans-serif, cursive;
}

.normal-link {
  text-decoration:none;
}
