#info-bar {
    height: 13%;
    width: 100%;
    background-color: #3D3D3D;
}
 
#click-bar {
    font-family: sans-serif; 
    font-weight: bold;
    letter-spacing: -0.05em;
    border: ridge;
    background: linear-gradient(to bottom, #757575, #4D4D4D);
    border-color: black;
    border-width: 1.5px;
    color: white;
    height: 3%;
    width: 100%;
    text-align: center;
}

hr {
    margin: -0.12em;
    height: 1px;
    color: #7A7A79;
    background-color: #7A7A79;
    border-color: #7A7A79;
}

#map-canvas { 
    height: 100%;
    width: 100%;
}

#un_peu_tard{
    color: #E4C126;
}

#trop_tard{
    color: #D80821;
}

#parfait{
    color: #07B418;
}

#tres_tot{
    color: #3ca9d0;
}

html { 
    height: 100%; 
}

body { 
    height: 100%; 
    margin: 0; 
    padding: 0;
}

#about { 
    z-index: 9000; 
    position: absolute; 
    right: 25px; 
    top: 140px; 
    background: #eee; 
    font-family: sans-serif; 
    width: 300px; 
    padding: 1em; 
    opacity: 0.85;
}
