body {
  padding-top: 47px;
  padding-bottom: 59px;
  background-color: gray;
}

.scrollbox {
  border:1px solid #ffffff;
  overflow:auto;
}

.footer-hire {
  background: #ffffff;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.sheefeni-text-1 {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.format-choice {
  padding-left: 20px;
}

.bottom-footer {
  background: #ffffff;
}

.pager-bottom {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.pagnator-outer {
  padding: 5px 0px 5px 0px;
  margin: 0px 0px 0px 0px;
  background: #ffffff;
}

.pagnator-inner {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.btn-group-shef-wrap {
    text-align: center;
}

.right-class {
  float: right;
}

.bar-content-left {
  background-color:#FF4500;
  padding: 5px 0px 5px 0px;
  color: white;
}

.bar-content-right {
  background-color:orange;
  padding: 5px 0px 5px 0px;
  color: white;
}

.button-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.new-panel-body {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.top-list-item {
  border-top: 0px;
}

.my-panel {
  border: 0px solid transparent;
}

.my-navbar {
  border: 0px solid transparent;
}

.hire-me {
  font-family: 'Sonsie One', cursive;
  font-size: 34px;
}

.map-button {
  background-image: url('../../images/appbar.map.folds');
  height: 60px;
  width: 60px;
}

.map-button:hover {
  background-image: url('../../images/appbar.map.folds.light');
}

.my-list-item:hover,
.my-list-item:focus {
  background-color: #eeeeee;
}

#twitter-button {
  background-image: url('../../images/appbar.social.twitter');
  height: 60px;
  width: 60px;
}

#twitter-button:hover {
  background-image: url('../../images/appbar.social.twitter.light');
}

#github-button {
  background-image: url('../../images/appbar.social.github.octocat.solid');
  height: 60px;
  width: 60px;
}

#github-button:hover {
  background-image: url('../../images/appbar.social.github.octocat.solid.light');
}

#linkedin-button {
  background-image: url('../../images/appbar.social.linkedin.variant');
  height: 60px;
  width: 60px;
}

#linkedin-button:hover {
  background-image: url('../../images/appbar.social.linkedin.variant.light');
}

@media (min-width: 768px) {
  .main-container {
    width: 250px;
  }
}
 
@media (min-width: 992px) {
  .main-container {
    width: 470px;
  }
}

@media (min-width: 1200px) {
  .main-container {
    width: 770px;
  }
}
