body {
  padding-top: 47px;
  padding-bottom: 86px;
  background-color: gray;
}

.veryLate {
  color: red;
}

.late {
  color: yellow;
}

.early {
  color: blue;
}

.timely {
  color: green;
}

.scrollbox {
  border:1px solid #ffffff;
  overflow:auto;
}

.pagnator-outer {
  padding: 5px 0px 5px 0px;
  margin: 0px 0px 0px 0px;
  background: #ffffff;
}

.pagnator-inner {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.right-class {
  float: right;
}

.bar-content-left {
  background-color:#FF4500;
  padding: 5px 0px 5px 0px;
  color: white;
}

.bar-content-right {
  background-color:orange;
  padding: 5px 0px 5px 0px;
  color: white;
}

.button-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.new-panel-body {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.link-footer {
  padding: 0px 0px 5px 0px;
  margin: 0px 0px 0px 0px;
}

.my-footer {
  min-height: 10px;
}

.top-list-item {
  border-top: 0px;
}

.my-panel {
  border: 0px solid transparent;
}

.my-navbar {
  border: 0px solid transparent;
}

.hire-me {
  font-size: 38px;
}
a.hire-link {
  color: #999999;
}

.submit_header {
  background-color: orange;
}

.submit_button {
  background-color:#FF4500;
}

a.form_submit_button {
  color: #000000;
} 

a.form_submit_button:focus, 
a.form_submit_button:hover {
  text-decoration: none;
  color: #000000;
  background-color: transparent;
}

a.hire-link:focus,
a.hire-link:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: transparent;
}

.nav > li > a:hover,
.nav > li > a:focus {
   background-color: transparent;
}

.bus-data {
  color: #000000;
}

.bus-data:hover {
  text-decoration: none;
  color: #000000;
  background-color: transparent;
}

.my-list-item {
  padding: 35px 30px 20px 30px;
}

.my-list-item:hover,
.my-list-item:focus {
  background-color: #eeeeee;
}

.my-stop-list {
  padding: 0px 0px 0px 0px;
  overflow: auto;
  height: 800px;
}

.map-button {
  background-image: url('../../images/map-marker-32.png');
  height: 32px;
  width: 32px;
}

.map-button:hover {
  background-image: url('../../images/map-marker-32orange.png');
  background-color: transparent;
}

#twitter-button {
  background-image: url('../../images/twitter-32.png');
  height: 32px;
  width: 32px;
}

#twitter-button:hover {
  background-image: url('../../images/twitter-32twitter-blue.png');
}

#github-button {
  background-image: url('../../images/github-10-32.png');
  height: 32px;
  width: 32px;
}

#github-button:hover {
  background-image: url('../../images/github-10-32white.png');
}

#linkedin-button {
  background-image: url('../../images/linkedin-3-32.png');
  height: 32px;
  width: 32px;
}

#linkedin-button:hover {
  background-image: url('../../images/linkedin-3-32linkedin-blue.png');
}

@media (min-width: 768px) {
  .stop-container {
    width: 250px;
  }
}
 
@media (min-width: 992px) {
  .stop-container {
    width: 470px;
  }
}

@media (min-width: 1200px) {
  .stop-container {
    width: 770px;
  }
}

@media (min-width: 768px) {
  .main-container {
    width: 450px;
  }
}
 
@media (min-width: 992px) {
  .main-container {
    width: 670px;
  }
}

@media (min-width: 1200px) {
  .main-container {
    width: 970px;
  }
}

#map-canvas { height: 100% }
